.section {
  width: 100%;
  height: 80vh;
  background: #0e2941;
  background: -webkit-linear-gradient(to right, #01172b, #021322);
  background: linear-gradient(to right, #fafbfc, #f3f4f6);
 

  display: flex;
  align-items: center;
  justify-content: center;
}
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(240, 245, 245); */
}

.para {
  width: 50%;
  background-color: rgb(104, 163, 219);
  height: 40vh;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 16px;
  text-align: justify;
  border-radius: 50px;
  padding: 50px;
  color: rgb(255, 255, 255);
  box-shadow: rgb(92, 92, 132) 7px 10px 10px 10px;
  /* margin-top: 10px; */
}

.abt {
  display: flex;
  justify-content: center;
  padding: 10px;

  font-size: 30px;
  font-weight: 900;
  color: rgb(250, 246, 254);
}

.girl {
  width: 500px;
  margin: 30px;
}
