* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.col3{
    width: 450px;  
    border-radius: 20px;
    height: 74vh;
    background: #6190E8;  
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 36px;
   

}



.row3{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #aac7e1;
    background: -webkit-linear-gradient(to right, #5fa0d9, #14548c);
    background: linear-gradient(to right, #000a15, #0b3a62);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
form .btn{
    margin-left: 140px;
    background-color: #52585e;
    color: white;
    transition: 0.5s ease-in-out;
}
.btn:hover{
    background-color: #5e0a42;
    color: white;
}
.contact{
    font-size: 40px;
    font-family: "Gloria Hallelujah", cursive;
}

.form-label{
    color: black;
}
.icon{
    position: relative;
    cursor: pointer;
    margin: 40px;
   
}
 .mail{
    width: 25px; 
   
}


.lnk{
    width: 20px;
    margin: 10px;
}
.gmail{color: white;
margin-left: 10px;
text-decoration: none;
margin-right: 40px;}
.link{color: white;
    margin-left: 10px;
    margin-right: 40px;
text-decoration: none;}

.heading{
    color: white;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media screen and (max-width: 480px){
    .col3 {
        width: 100%;
        height: auto;   /* optional but helps */
        padding: 20px;
    }
.row3{
      padding: 10px;
    }
    form .btn {
        margin-left: 0; /* prevents overflow */
        width: 100%;    /* optional */
    }

    .icon {
        margin: 0;
    }
    .gmail{
        display: none;
    }
    .mail{
        margin: 20px;
    }

    .link{
        display: none;
    }
}

@media screen and (max-width: 786px){
    .col3 {
        width: 80%;
        max-width: 100%;
        height: auto;   /* optional but helps */
        padding: 20px;
        margin: 20px;
    }
.row3{
      padding: 10px;
      
    }
    form .btn {
        margin-left: 0; /* prevents overflow */
        width: 100%;    /* optional */
    }

    .icon {
        margin: 0;
    }
    .gmail{
        display: none;
    }
    .mail{
        margin: 20px;
    }

    .link{
        display: none;
    }
}
@media screen and (max-width: 1024px){
    .col3 {
        width: 60%;
        max-width: 100%;
        height: auto;   /* optional but helps */
        padding: 20px;
        margin: 20px;
    }
.row3{
      padding: 10px;
      
    }
    form .btn {
        margin-left: 0; /* prevents overflow */
        width: 100%;    /* optional */
    }

    .icon {
        margin: 0;
    }
    .gmail{
        display: none;
    }
    .mail{
        margin: 20px;
    }

    .link{
        display: none;
    }
}