* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sect{
    height: 10vh;
}


.col3{
    width: 450px;  
    border-radius: 20px;
    height: 74vh;
    background: #360353;  
    background: -webkit-linear-gradient(to right, #4b50db, #660f7c); 
    background: linear-gradient(to right, #6996bb, #032c4d); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 36px;
   

}

.form-control{
    background-color: #9cc7e7de;
    
    border: 0;
}


.row3{
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    background: #aac7e1;
    background: -webkit-linear-gradient(to right, #5fa0d9, #14548c);
    background: linear-gradient(to right, #000a15, #0b3a62);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
form .btn{
    margin-left: 140px;
    background-color: #223a8a;
    color: white;
    transition: 0.5s ease-in-out;
}
.btn:hover{
    background-color: #681f50;
    color: white;
}
.contact{
    font-size: 40px;
    font-family: "Gloria Hallelujah", cursive;
    color: white;
}

.form-label{
    color: rgb(251, 251, 251);
    font-family: "Gloria Hallelujah", cursive;
}
.icon{
    position: relative;
    cursor: pointer;
    margin: 40px;
   
}
 .mail{
    width: 25px; 
   
}


.lnk{
    width: 20px;
    margin: 10px;
}
.gmail{color: white;
margin-left: 10px;
text-decoration: none;
margin-right: 40px;}
.link{color: white;
    margin-left: 10px;
    margin-right: 40px;
text-decoration: none;}

.heading{
    color: white;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media screen and (max-width: 480px){
    .col3 {
        width: 100%;
        height: auto;   
        padding: 20px;
    }
.row3{
      padding: 10px;
    }
    form .btn {
        margin-left: 0;
        width: 100%;    
    }

    .icon {
        margin: 0;
    }
    .gmail{
        display: none;
    }
    .mail{
        margin: 20px;
    }

    .link{
        display: none;
    }
}

@media screen and (max-width: 786px){
    .col3 {
        width: 80%;
        max-width: 100%;
        height: auto;  
        padding: 20px;
        margin: 20px;
    }
.row3{
      padding: 10px;
      
    }
    form .btn {
        margin-left: 0; 
        width: 100%;    
    }

    .icon {
        margin: 0;
    }
    .gmail{
        display: none;
    }
    .mail{
        margin: 20px;
    }

    .link{
        display: none;
    }
    .contact{
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px){
    .col3 {
        width: 80%;
        max-width: 100%;
        height: auto;  
        padding: 20px;
        margin: 20px;
    }
.row3{
      padding: 10px;
      
    }
    form .btn {
        margin-left: 0;
        width: 100%;   
    }

    .icon {
        margin: 0;
    }
    .gmail{
        display: none;
    }
    .mail{
        margin: 20px;
    }

    .link{
        display: none;
    }
}