.body {
  height: 100vh;
  width: 100%;
  background: #0e2941;
  background: -webkit-linear-gradient(to right, #5fa0d9, #021322);
  background: linear-gradient(to right, #000a15, #0b3a62);
 }
.row {
   width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  width: 30%;
  height: 60vh;
  background: #6190E8;  
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: #13326b 0px 0px 10px 4px;   
  margin: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
 cursor: pointer;
  flex-direction: column;
  transition: transform 1s ease,boxshadow 1s ease ;
}
.aos-animate.column:hover{
    transform: scale(1.05) !important;
     box-shadow: #0d224b 0px 0px 25px 8px;
    
}

 li {
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;  
}
.title{
  font-size: 40px;
  font-family: "Gloria Hallelujah", cursive;
  color: #02335d;
 display: flex;
 justify-content: center;
 margin: 20px;
}

.plat{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.desc{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}