.body {
  
  width: 100%;
  background: #0e2941;
 
  background: -webkit-linear-gradient(to right, #5fa0d9, #021322);
  background: linear-gradient(to right, #000a15, #0b3a62);
 }
.row {
  
   width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.column {
  width: 25%;
  height: 50vh;

  background: #6190E8;  
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  
  background: linear-gradient(to right, #A7BFE8, #6190E8); 
  box-shadow: #13326b 0px 0px 10px 4px;   
  margin: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
 cursor: pointer;
  flex-direction: column;
  transition: transform 1s ease,boxshadow 1s ease ;
}
.aos-animate.column:hover{
    transform: scale(1.05) !important;
     box-shadow: #0d224b 0px 0px 25px 8px;
    
}

 li {
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;  
}
.title{
  font-size: 20px;
  font-family: "Gloria Hallelujah", cursive;
  color: #051626;
  font-weight: 900;
 display: flex;
 justify-content: center;
 margin: 20px;
}

.plat{
  text-align: center;
  margin: 5px 0;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.desc{
  text-align: center;
  margin: 5px 0;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.work{
  display: flex;
  padding: 20px;
 justify-self: center;
  font-size:20px;
  color: rgb(135, 135, 154);
  font-family: "Gloria Hallelujah", cursive;
  
}

.column4 {
  width: 25%;
  height: 50vh;
  
  background: #6190E8;  
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  
  background: linear-gradient(to right, #A7BFE8, #6190E8); 
  box-shadow: #13326b 0px 0px 10px 4px;   
  margin: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
 cursor: pointer;
  flex-direction: column; 
  padding: 10px;
  transition: transform 1s ease,boxshadow 1s ease ;
}
.aos-animate.column4:hover{
  transform: scale(1.05) !important;
   box-shadow: #0d224b 0px 0px 25px 8px;
  
}
.row4 {
  width: 100%;
 height: auto;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 margin: 10px;
 justify-content: center;
}
.view-btn{
  background: #6a73d5; 
   box-shadow: rgb(79, 50, 183) 0px 0px 5px 0px;
  margin: 10px;
  padding: 10px;
  
  border: 0;
  border-radius: 15px;
  font-size: 15px;
  transition: 1s ease;
}

.column4 desc{
  text-align: justify;
}

.view-btn:hover{
  
  background: #7392c8;
}

.view{
  width: 12px;
  margin: 5px;
 
}

.acd{
  
  font-size:20px;
  color: rgb(135, 135, 154);
  font-family: "Gloria Hallelujah", cursive;
  margin: 40px;
 align-self: center;
  display: flex;
  justify-self: center;
}

@media screen and (max-width: 1024px){
  /* .body{
    height: 50vh;
  } */
  .row{
    margin-left: 20px;
    width: 100%;
    height: auto;
  }
  .column{
    flex: 1 1 300px;
    min-width: 250px;
    max-width: 350px;
    height: auto;
   
  }
  .row4{
    
    width: 100%;
  }
  .column4{
    flex: 1 1 300px;
    min-width: 350px;
    max-width: 350px;
    height: auto;
    
  }
  .aos-animate.column:hover{
    transform: scale(1.05) !important;
    box-shadow: #0d224b 0px 0px 25px 8px;
  }

  .title{
    font-size: 25px;
  }
  .column,.column4 li{
    font-size: 15px;
  }
  
}

@media screen and (max-width: 768px){
  
  .row{
    width: 100%;
    height: auto;
    margin-left: 10px;
  }
  .column{
    min-width: 250px;
    max-width: 350px;
    height: auto;
  
  }
  .row4{
    width: 100%;
    height: auto;
  }
  .column4{
    flex: 1 1 300px;
    min-width: 350px;
    max-width: 350px;
    height: auto;
  }
  .title{
    font-size: 18px;
  }
.desc, .plat{
  font-size: 20px;
}
  .column, .column4 li{
    font-size: 18px; 
  }
}

@media screen and (max-width: 480px){

  .row{
   margin-left: 10px;
    width: 100%;
    height: auto;
  }
  .column{
    
    min-width: 250px;
    max-width: 300px;
   

  }
  .row4{
    width: 100%;
    height: auto;
  }
  .column4{
    flex: 1 1 300px;
    
    min-width: 250px;
    max-width: 300px;
    height: auto;
  }
  .title{
    font-size: 18px;
  }

  .column, .column4 li{
    font-size: 18px; 
  }
  
.desc, .plat{
  font-size: 18px;
}
  .aos-animate.column:hover{
    transform: scale(1.05) !important;
    box-shadow: #0d224b 0px 0px 25px 8px;
  }
}

