.sec1{
    width: 100%;
    min-height: 50vh;
    
    background: -webkit-linear-gradient(to right, #5fa0d9, #021322);
  background: linear-gradient(to right, #000a15, #0b3a62);
}

.row2{
 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.skill{
    color: rgb(116, 119, 121);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    margin: 50px;
   font-size: 35px;
 
  
}

.frontend{
    color: rgb(205, 205, 205);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
font-size: 25px;  
display: flex;
align-items: center;
justify-content: center;
margin: 40px;
}


.carousel-container {
    width: 60%;
   
    overflow: hidden;
    padding: 20px 0;
     
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0,0,0,0)0%,
      rgba(0,0,0,1)40%,
      rgba(0,0,0,1)90%,
      rgba(0,0,0,0)100%,
    );
    mask-image: linear-gradient(
      to right,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,1) 40%,
      rgba(0,0,0,1) 90%,
      rgba(0,0,0,0) 100%
  );
  }
  
  .carousel-track {
    display: flex;
    gap: 40px;
    animation: scroll 10s linear infinite;
   
   
  }
  
  .col {
    font-size: 18px;
    min-width: 80px;
    text-align: center;
    color: #6d7175;
  }
  
  .col img {
    width: 50px;
    height: 50px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
      
    }
   
    100% {
      transform: translateX(-50%);
    }
  }
  
  @media screen and (max-width: 1024px) {
    .sec1{
      height: auto;
      min-height: 20vh;
    }
    .carousel-container {
      width: 80%;
      
    }
    .skill {
      font-size: 30px;
    }
    .frontend {
      font-size: 22px;
    }
    .col img {
      width: 45px;
      height: 45px;
    }
  }
  
  /* Small tablets / large phones */
  @media screen and (max-width: 768px) {
    .sec1{
      height: auto;
      min-height: 30vh;
    }
    .carousel-container {
      width: 100%;
    }
    .skill {
      font-size: 20px;
    }
    .frontend {
      font-size: 20px;
    }
    .col img {
      width: 40px;
      height: 40px;
    }
  }
  
  /* Mobile phones */
  @media screen and (max-width: 480px) {
    .carousel-container {
      width: 95%;
    }
    .skill {
      font-size: 22px;
      margin: 20px 10px;
    }
    .frontend {
      font-size: 18px;
      margin: 15px 0;
    }
    .col img {
      width: 35px;
      height: 35px;
    }
    .carousel-track {
      gap: 20px;
    }
  }